<div class="bg">
    <div class="text-cont">
    <h2>انشاء حساب جديد</h2>
    <p>يُمكنك التسجيل في الموقع عن طريق إنشاء حساب تلميذ أو حساب ولي</p>
    </div>
    <div class="img-cont" [class.direction]="rotate">
 <img src="../../assets/logo-mid.svg"  alt=""> 
</div>  
 <div class="cards">
    <div class="card1" (mouseover)="wali()">
        <p>حساب ولي</p>
        <img src="../../assets/weldou .svg" alt="">
    </div>
    <div class="card2" (mouseover)="stud()">
        <p>حساب تلميذ</p>
        <img src="../../assets/wali.svg" alt="">
    </div>
 </div>
</div>

